In [1]:
import pandas as pd

from src.fetch_executions_from_bybit import create_date_list
from src.generate_candles import generate_candles

- 約定データのデータチェック
- ローソク足のデータチェック
- データ加工(日跨ぎにNanが入っている？よくわからないが)

In [3]:
# 約定データのフォーマット

In [2]:
df = pd.read_pickle("data/bybit/executions/BTCUSD/BTCUSD2021-11-10.pickle")
print(df.shape)
display(df.head(3))
display(df.tail(3))

(836984, 10)

,timestamp,symbol,side,size,price,tickDirection,trdMatchID,grossValue,homeNotional,foreignNotional
0,1.636589e+09,BTCUSD,Sell,5019,64907.5,ZeroMinusTick,4b5e0280-7832-5e90-a9a0-40f026ceec7d,7732542.0,5019,0.077325
1,1.636589e+09,BTCUSD,Sell,925,64907.5,ZeroMinusTick,38765246-89f8-51ae-bcf2-df58077f987f,1425104.0,925,0.014251
2,1.636589e+09,BTCUSD,Sell,1,64907.5,ZeroMinusTick,6e64587d-4236-50d8-8322-47d1fbd3fe64,1540.0,1,0.000015

,timestamp,symbol,side,size,price,tickDirection,trdMatchID,grossValue,homeNotional,foreignNotional
836981,1.636502e+09,BTCUSD,Buy,2158,66969.5,PlusTick,f0b63297-4d15-53f0-af7d-f51d1ad256a0,3222362.0,2158,0.032224
836982,1.636502e+09,BTCUSD,Sell,286,66969.0,ZeroMinusTick,0b191af3-9c29-520f-8ea0-21ebedaa5eda,427063.0,286,0.004271
836983,1.636502e+09,BTCUSD,Sell,19,66969.0,MinusTick,0aeda7c9-f682-5007-a2e4-adc3e1152897,28371.0,19,0.000284

In [8]:
# ローソク足

In [12]:
# ?
dfs = {}
dfs_c = {}
for date in create_date_list("2021-11-10", "2021-11-15"):
    df = pd.read_pickle(f"data/bybit/executions/BTCUSD/BTCUSD{date}.pickle")
    df_c = generate_candles(df, "1H")

    df['timestamp'] * 1000000000
    dfs[date] = df
    dfs_c[date] = df_c
    # print(f"{date}:{df['price'].iloc[0]} - {df['price'].iloc[-1]}")
    print(f"{df_c.index[0]}:{df_c['close'].iloc[0]} - {df_c['close'].iloc[-1]}")

2021-11-10 09:00:00+09:00:67016.0 - 64907.5
2021-11-11 09:00:00+09:00:64987.5 - 64852.5
2021-11-12 09:00:00+09:00:64886.0 - 64168.5
2021-11-13 09:00:00+09:00:64365.5 - 64415.0
2021-11-14 09:00:00+09:00:65012.5 - 65560.5
2021-11-15 09:00:00+09:00:65905.5 - 63608.5

In [15]:
display(dfs["2021-11-11"].head(2))
display(dfs["2021-11-11"].tail(2))
print('-------------------------')
display(dfs["2021-11-12"].head(2))
display(dfs["2021-11-12"].tail(2))

,timestamp,symbol,side,size,price,tickDirection,trdMatchID,grossValue,homeNotional,foreignNotional,exec_date,volume,buy_volume,sell_volume,count,buy_count,sell_count,value,buy_value,sell_value
0,1.636675e+09,BTCUSD,Buy,1,64852.5,ZeroMinusTick,1d561272-7599-5ece-9ee7-53354d1c6652,1541.0,1,0.000015,2021-11-11 23:59:59.762000128,1,1,0,1,1,0,64852.5,64852.5,0.0
1,1.636675e+09,BTCUSD,Buy,1,64852.5,ZeroMinusTick,7d11a227-8378-5822-aab8-65ff604f3239,1541.0,1,0.000015,2021-11-11 23:59:59.700999936,1,1,0,1,1,0,64852.5,64852.5,0.0

,timestamp,symbol,side,size,price,tickDirection,trdMatchID,grossValue,homeNotional,foreignNotional,exec_date,volume,buy_volume,sell_volume,count,buy_count,sell_count,value,buy_value,sell_value
417704,1.636589e+09,BTCUSD,Sell,1840,64907.5,ZeroMinusTick,82386678-92ec-508c-bc67-cd1a1d241a4a,2834803.0,1840,0.028348,2021-11-11 00:00:00.252,1840,0,1840,1,0,1,119429800.0,0.0,119429800.0
417705,1.636589e+09,BTCUSD,Sell,23,64907.5,MinusTick,801028b3-e343-5e44-a6b8-800b4eecbaf3,35435.0,23,0.000354,2021-11-11 00:00:00.144,23,0,23,1,0,1,1492872.5,0.0,1492872.5

-------------------------

,timestamp,symbol,side,size,price,tickDirection,trdMatchID,grossValue,homeNotional,foreignNotional,exec_date,volume,buy_volume,sell_volume,count,buy_count,sell_count,value,buy_value,sell_value
0,1.636762e+09,BTCUSD,Buy,140,64168.5,PlusTick,c7b36991-139c-572b-a93f-df335be66e42,218175.0,140,0.002182,2021-11-12 23:59:58.486000128,140,140,0,1,1,0,8983590.0,8983590.0,0.0
1,1.636762e+09,BTCUSD,Sell,500,64168.0,MinusTick,f9206a2b-1b0f-54cc-8f48-ccc147e6d8de,779204.0,500,0.007792,2021-11-12 23:59:58.352999936,500,0,500,1,0,1,32084000.0,0.0,32084000.0

,timestamp,symbol,side,size,price,tickDirection,trdMatchID,grossValue,homeNotional,foreignNotional,exec_date,volume,buy_volume,sell_volume,count,buy_count,sell_count,value,buy_value,sell_value
636871,1.636675e+09,BTCUSD,Buy,1,64852.5,ZeroMinusTick,5fd6a615-bd26-5b3a-95a5-b65c96be641d,1541.0,1,0.000015,2021-11-12 00:00:00.442000128,1,1,0,1,1,0,64852.5,64852.5,0.0
636872,1.636675e+09,BTCUSD,Buy,1,64852.5,MinusTick,81833f03-0534-51eb-871d-eaf250fc9f51,1541.0,1,0.000015,2021-11-12 00:00:00.182000128,1,1,0,1,1,0,64852.5,64852.5,0.0

In [14]:
display(dfs_c["2021-11-11"].head(2))
display(dfs_c["2021-11-11"].tail(2))
display(dfs_c["2021-11-12"].head(2))
display(dfs_c["2021-11-12"].tail(2))

,open,high,low,close,volume,buy_volume,sell_volume,count,buy_count,sell_count,value,buy_value
exec_date,,,,,,,,,,,,
2021-11-11 09:00:00+09:00,64907.5,65010.5,64250.0,64987.5,172269087,83642117,88626970,27068,14228,12840,1.113483e+13,5.408402e+12
2021-11-11 10:00:00+09:00,64987.5,65073.5,64453.0,64810.5,86656628,43625765,43030863,18668,9297,9371,5.613102e+12,2.825536e+12

,open,high,low,close,volume,buy_volume,sell_volume,count,buy_count,sell_count,value,buy_value
exec_date,,,,,,,,,,,,
2021-11-12 07:00:00+09:00,65091.0,65392.5,64993.5,65255.0,70655128,41811137,28843991,10792,6676,4116,4.607100e+12,2.726842e+12
2021-11-12 08:00:00+09:00,65255.0,65257.0,64826.5,64852.5,67602985,20273182,47329803,9892,3970,5922,4.394964e+12,1.316989e+12

,open,high,low,close,volume,buy_volume,sell_volume,count,buy_count,sell_count,value,buy_value
exec_date,,,,,,,,,,,,
2021-11-12 09:00:00+09:00,64852.5,64966.5,64728.0,64886.0,62406701,28882123,33524578,12031,5632,6399,4.047034e+12,1.873589e+12
2021-11-12 10:00:00+09:00,64886.0,65446.0,64106.0,65180.0,269191723,130797200,138394523,45570,21343,24227,1.742925e+13,8.478720e+12

,open,high,low,close,volume,buy_volume,sell_volume,count,buy_count,sell_count,value,buy_value
exec_date,,,,,,,,,,,,
2021-11-13 07:00:00+09:00,64146.0,64194.5,63725.5,63948.5,61990392,18807710,43182682,11240,4023,7217,3.968205e+12,1.204082e+12
2021-11-13 08:00:00+09:00,63948.5,64400.0,63867.0,64168.5,60731935,36025192,24706743,11939,6801,5138,3.892363e+12,2.308699e+12

In [23]:
df = pd.read_pickle("data/bybit/candles/BTCUSD/BTCUSD_1H_2021-11-10 09:00:00+09:00-2021-11-16 08:00:00+09:00.pickle")
display(df.head(3))
display(df.tail(3))

,open,high,low,close,volume,buy_volume,sell_volume,count,buy_count,sell_count,value,buy_value
exec_date,,,,,,,,,,,,
2021-11-10 09:00:00+09:00,66969.0,67418.5,66872.5,67016.0,188013551,94269131,93744420,21287,11558,9729,1.262260e+13,6.333217e+12
2021-11-10 10:00:00+09:00,67015.5,67351.5,66850.0,67057.0,94591404,40521025,54070379,15702,7642,8060,6.346420e+12,2.720038e+12
2021-11-10 11:00:00+09:00,67056.5,67251.0,66913.5,66914.0,51701747,27014619,24687128,10286,5076,5210,3.467129e+12,1.812393e+12

,open,high,low,close,volume,buy_volume,sell_volume,count,buy_count,sell_count,value,buy_value
exec_date,,,,,,,,,,,,
2021-11-16 06:00:00+09:00,63923.5,63997.5,63200.0,63915.5,170995925,62892206,108103719,29567,11713,17854,1.089546e+13,4.013755e+12
2021-11-16 07:00:00+09:00,63915.0,64029.5,63425.5,63977.0,88605756,41622781,46982975,16000,8058,7942,5.644685e+12,2.652472e+12
2021-11-16 08:00:00+09:00,63977.0,63995.0,63500.0,63608.5,68486815,27501889,40984926,14627,6537,8090,4.365096e+12,1.753903e+12